<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Services</h1>

    <form action= "/Home/<%=service._id%>?_method=PUT" method ="POST">
        <input type="text" name="name" value="<%=service.name%>"><br>
        <input type="text" name="type" value="<%=service.description%>"><br>
        <input type="text" name="type" value="<%=service.category%>"><br>
        <input type="text" name="img" value="<%=service.img%>"><br>
        <input type= "submit" value ="edit service">
</body>
</html>